@model portfio.Models.Works

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование работы</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>Model.Id)
    <table class="table table-bordered">
        <tr>
            
            <td>@Html.LabelFor(model=>Model.Title)</td>
            <td>@Html.TextBox("Title",Model.Title, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model=>Model.Title, "", new { @class="text-danger"})
            
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model=>Model.Link)</td>
            <td>@Html.TextBox("Link", Model.Link, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Link, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model=>Model.Info)</td>
            <td>@Html.TextArea("Info",Model.Info, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Info, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model=>Model.Topics_Id)</td>
            <td>@Html.DropDownList("Topics_Id",(List<SelectListItem>)ViewBag.Topics,htmlAttributes: new {@class="form-control"})
            
            @Html.ValidationMessageFor(model => Model.Topics_Id, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
              <input type="submit" class="btn btn-success" value="Сохранить" />
              @Html.ActionLink("Отменить","Index","Works",htmlAttributes: new { @class="btn btn-danger"})
            </td>
        </tr>
       
      
    </table>

       

    }

